{% extends 'base.html' %} {% block content %}

<h2 class="room_code">ROOM CODE: {{code}}</h2>
<h2 class="section_headers"> Members in this room </h2>
<div id="member_list"></div>
<h2 class="section_headers"> Everyone's top songs </h2>
<div id="top_songs"></div>
<div id="comparison_list">
    <h3>Songs selected users have in common</h3>
    <ul id="comparison"> </ul>
</div>

<script type="text/javascript">
    // var socketio = io();
    var socketio = io('https://compare-karroke.onrender.com', {
        transports: ['websocket', 'polling'],
        timeout: 20000
    });
    var songList = {}; //user : songs

    const listMembers = (user) => {
        document.getElementById("member_list").innerHTML += `
                <input type="checkbox" class="user_list" id=${user} value=${user}>
                <label for="${user}"> ${user} </label>`;

        updateListeners();
    };

    const updateListeners = () => {
        var checkboxes = document.getElementsByClassName("user_list");
        for (let i = 0; i < checkboxes.length; i++) {
            checkboxes[i].addEventListener('change', () => {
                if (checkboxes[i].checked) {
                    songRequest(checkboxes[i].id);
                } else {
                    clearRequest(checkboxes[i].id);
                }
            });
        }
    };

    const listSong = (user, trackImg, trackName, trackArtist) => {
        document.getElementById(user + "_toptracks").innerHTML += `
            <li> <p> <img class="images" width=32 height=32 src="${trackImg}">  ${trackName} - ${trackArtist} </p> </li>
        `;
    };

    const listCommon = (trackImg, trackName, trackArtist) => {
        document.getElementById("comparison").innerHTML += `
            <li> <p> <img class="images" width=32 height=32 src="${trackImg}">  ${trackName} - ${trackArtist} </p> </li>
        `;
    }

    //onclick function to send a request for songs (checkmark)
    const songRequest = (user) => {
        console.log("sending song request");
        socketio.emit("requestSongs", user);
        console.log("song request sent");
    };

    const clearRequest = (user) => {
        console.log("sending clear request");
        socketio.emit("requestClear", user);
        console.log("clear request sent");
    };

    const compareSongs = () => {
        // disgusting brute force comparison
        users = Object.keys(songList);
        let firstFound = true;
        let commonSongs = [];
        for (user in users) {
            if (songList[users[user]].length && firstFound) {
                commonSongs = songList[users[user]];
                firstFound = false;
            } else {
                let tempSongs = songList[users[user]];
                if (tempSongs.length > 0) {     
                    let tempCommon = [];
                    for (let i = 3; i < tempSongs.length; i+=4) {
                        if (tempSongs.includes(commonSongs[i])){
                            tempCommon.push(tempSongs[i-3], tempSongs[i-2], tempSongs[i-1], tempSongs[i])
                        }
                    }
                    commonSongs = tempCommon;
                }
            }
        }
        return commonSongs; //returns an array of songs
    }


    socketio.on("sendClear", (user) => {
        document.getElementById(user + "_section").style.border = "none";
        document.getElementById(user + "_listScroll").style.width = "0px";
        document.getElementById(user + "_listScroll").style.height = "0px";
        document.getElementById(user + "_header").innerHTML = "";
        document.getElementById(user + "_toptracks").innerHTML = ""; 
        songList[user] = [];

        updateCommon();
    });

    socketio.on("sendSongs", (user, data) => {
        //retrieves all songs and put them in
        songList[user] = data;

        document.getElementById(user + "_section").style.border = "5px solid black";
        document.getElementById(user + "_listScroll").style.width = "400px";
        document.getElementById(user + "_listScroll").style.height = "400px";

        document.getElementById(user + "_header").innerHTML = user;
        for (var i = 0; i < data.length; i+=4) { 
            listSong(user, data[i], data[i+1], data[i+2]);
        }

        updateCommon();

    });

    const updateCommon = () => {
        document.getElementById("comparison").innerHTML = "";
        let commonSongs = compareSongs();
        let loops = (commonSongs.length > 200)? 200: commonSongs.length;
        if (commonSongs.length != 0){
            for (var i = 0; i < loops; i+=4) { 
                listCommon(commonSongs[i], commonSongs[i+1], commonSongs[i+2]);
            }
        } else {
            document.getElementById("comparison").innerHTML = "<h4>You have nothing in common</h4>"
        }
    }

    setInterval(function() {
        socketio.emit('ping'); // send a keep-alive ping to the server
    }, 15000); // every 15 seconds

</script>

{% for data in content %}
<script type="text/javascript">
    listMembers("{{data.user}}");
    document.getElementById("top_songs").innerHTML += `
                            <div id="{{data.user}}_section" class="user_sections">
                                <div class="user_headings">
                                    <b id="{{data.user}}_header"> </b>
                                </div>
                                <div id="{{data.user}}_listScroll">
                                    <ul id= "{{data.user}}_toptracks"}>
                                    </ul>
                                </div>
                            </div>
                        `;

    document.getElementById("{{data.user}}_listScroll").style.overflow = "auto";
    document.getElementById("{{data.user}}_listScroll").style.margin = "5px";

</script>
{% endfor %}

{% endblock %}