* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    padding: 2rem;
    background-color: #333;
    color: whitesmoke;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;
    font-size: 2rem;
}

p {
    font-size: 16px;
}

input, button {
    font-size: 2rem;
    padding: 1rem;
    border-radius: 10px;
    justify-content: center;
}

.content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.connect {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    row-gap: 20px;
}

.create_div {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    row-gap: 20px;
}

.join_div {
    align-items: center;
    justify-content: center;
    row-gap: 20px;
}

.center_text {
    padding-top: 50px;
    padding-bottom: 20px;
    text-align: center;
    align-items: center;
    justify-content: center;
}

.room_code .section_headers{
    display: flex;
    flex-direction: row;
    padding-top: 50px;
    margin-bottom: 30px;
    text-align: center;
    align-items: center;
    justify-content: center;
}

.top_songs {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
